<footer class="footer py-4 js-page-footer">
  <div class="main">
    <div class="site-info mt-2">
      <div>
        <small class="text-white">© 2020-2021 {{ site.author }} All Rights Reserved</small>
      </div>
    </div>
    <div class="site-info mt-2">
      <img src="{{site.baseurl}}/assets/logos/ST_logo_2020_white.png" alt="STMicroelectronics" height="70px">
      <img src="{{site.baseurl}}/assets/logos/inventhys.jpg" alt="Inventhis" height="35px">
      <img src="{{site.baseurl}}/assets/logos/ac-grenoble.png" alt="Rectorat de Grenoble" height="50px">
      <img src="{{site.baseurl}}/assets/logos/ac-aix-marseille.png" alt="Rectorat d'Aix-Marseille" height="50px">
      <img src="{{site.baseurl}}/assets/logos/polytech-grenoble.png" alt="Polytech Grenoble" height="50px">
      <img src="{{site.baseurl}}/assets/logos/uga-ginp.png" alt="Grenoble INP - Université Grenoble Alpes" height="50px">
    </div>
  </div>
</footer>
